<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ReportPageSize" value="25"/>
    <add key="gridPageSize" value="100"/>
    <add key="gridHalfPageSize" value="50"/>
    <add key="ThoughtOfTheDay" value="9"/>
    <add key="RefreshDataSetEvery" value="1"/>
    <add key="UseToStore" value="IpAddress"/>
  </appSettings>
  <connectionStrings>
	  <add name="Conn" connectionString="Data Source=173.208.216.27,8619;Initial Catalog=WIN2O0TroNDB;uid=wiNTRO98NUID;Pwd=V~C!sU82yavpuw0r;MultipleActiveResultSets=true;pooling=true;Min Pool Size=5;Max Pool Size=8000;Connection Timeout=3600;" />
  </connectionStrings>
  <!--<system.net>
    <mailSettings>
      <smtp from="support@bizzevo.me">
        <network host="mail.bizzevo.me" port="25" userName="support@bizzevo.me" password="lA1C5Xn5f4D*FzH1"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
      <remove fileExtension=".apk"/>
      <mimeMap fileExtension=".apk" mimeType="apk"/>
    </staticContent>
    <rewrite>
      <rules>
       <rule name="Redirect to Signup">
          <match url="^ref/([_0-9a-z-]+)"/>
          <action type="Redirect" redirectType="Found" url="register.html?ref={R:1}"/>
        </rule>
         <!-- <rule name="Force HTTPS" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/>
        </rule>-->
      </rules>
    </rewrite>
    <security>
      <authentication>
        <basicAuthentication enabled="false"/>
      </authentication>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="welcomepage.html"/>
      </files>
    </defaultDocument>
    <!--<httpRedirect enabled="false">
      <clear/>
    </httpRedirect>-->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>